<html>
    <head>
        <style>
            
            </style>
    </head>
    <body>
        <a href="/signup">sign up</a>
        <div>
            <input type="text" placeholder="Enter Your Username">
            <input type="password" placeholder="Enter Your Password">
        </div>
        <div>
            submit
        </div>
    </body>
</html>